<!-- admin/page/board.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Board</title>
    <style>

        body {
            background-color: #333333;
            color: white; /* 글자색을 흰색으로 설정하여 대조성을 높입니다. */
        }

    </style>
</head>
<body>
<h1>Admin Board</h1>

<p>Is Running: <span th:text="${isRunning} ? 'Yes' : 'No'"></span></p>


<form action="/admin/board/start" method="get">
    <button type="submit">Start Process</button>
</form>

<!-- Stop Process Button -->
<form action="/admin/board/stop" method="get">
    <button type="submit">Stop Process</button>
</form>


<!-- 다른 내용들 -->
</body>
</html>
